/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        f1 {
            bindings = <&kp F1>;
            key-positions = <0 12>;
        };

        f2 {
            bindings = <&kp F2>;
            key-positions = <1 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   | 
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |

            bindings = <
&lt 0 Q      &kp W        &kp E           &kp R           &kp T  &kp Y    &kp U  &kp I               &kp O              &kp P            &kp A  &kp S
&kp A        &kp S        &kp D           &kp F           &kp G  &kp H    &kp J  &kp K               &kp L              &kp SEMI         &kp Z  &kp X
&mt LCTRL Z  &mt LSHFT X  &mt LEFT_ALT C  &mt LEFT_GUI V  &kp B  &kp N    &kp M  &mt LEFT_ALT COMMA  &mt RSHIFT PERIOD  &mt RCTRL SLASH  &kp R  &kp R
            >;
        };

        layer_4 {
            bindings = <
&trans     &kp N7  &kp N8  &kp N9  &kp N0        &kp LS(AMPS)    &kp LS(STAR)          &kp LS(TILDE)      &kp LS(PIPE)                 &kp GRAVE            &trans         &trans
&kp EQUAL  &kp N4  &kp N5  &kp N6  &kp MINUS     &kp LS(DLLR)    &kp LS(PRCNT)         &kp LS(CARET)      &kp SQT                      &kp LS(UNDER)        &kp SQT        &trans
&kp DOT    &kp N1  &kp N2  &kp N3  &kp LS(PLUS)  &kp LS(EXCL)    &mt LS(RGUI) AT_SIGN  &mt LS(RALT) HASH  &mt LS(RSHFT) DOUBLE_QUOTES  &mt RCTRL BACKSLASH  &kp LS(COLON)  &kp LS(DQT)
                           &trans  &trans        &trans          &trans                &trans             &trans
            >;
        };
    };
};
