# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_IPPO_LEFT
    def_bool $(shields_list_contains,IPPO_left)

config SHIELD_IPPO_RIGHT
    def_bool $(shields_list_contains,IPPO_right)